.modal-body{
  padding-top: 0px !important;
}

.form-group {
  position: relative;
  border-style: None;
  margin-top: 1.5rem;
  border-style: None None solid None !important;
  border-bottom-width: 2px !important;
  border-color: #3b5998;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 90%;
  transform: translate3d(0, -100%, 0);
  color: #3b5998;
  opacity: 1;
}

.form-control{
  padding: 0 0 0 0 !important;
  border-style: None None None None !important;
}

.form-control:focus{
  box-shadow: None !important;
}

.btn--showpassword{
    position: absolute;
    top: 0px;
    right: 0px;
    align-items: flex-end !important;
}